.page-title {
	margin-bottom: 1rem;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}

.paragraph {
	color: var(--color-text-on-primary-muted);
	max-width: 32rem;
	line-height: 1.7;
}
.paragraph--centered {
	text-align: center;
}

.section {
	padding: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	@media (min-width: 576px) {
		padding: 70px 30px;
	}
}

